body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #feffdb;
    color: #444444;
  }
  
.gameContent {
    max-width: 100wh;
    margin: 50px auto;
    background-color: #444444;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
    
.waspButton {
    padding: 10px;
    font-size: 16px;
    background-color: #ff8b00;
    color: #444444;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
.gameAreas {
    text-align: left;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffc60b;

    .hit {
        color:green;
    }
  }
